@font-face {
    font-family: Poppins;
    src: url(Poppins-1/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins_No_Bold;
    src: url(Poppins-1/Poppins-Light.ttf);
}


body{
    margin: 0;
    padding: 0;
}




.logo_sinfondo{
    width: 250px;
    height: 30px;
    margin-left: 25%;
    align-self: center;

}

.wrap{
    display: flex;
    width: 100%;
    height: 84px;
    position: fixed;
    z-index: 100;
    max-width: 100%;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.737)!important;
    
}
.principio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navegacion{
    display: flex;
    justify-content: space-between;

}
.imagen_codenotch{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}

.a_menu{
    color: rgb(184, 184, 184);
    text-decoration: none;
    font-size: 16px;
    font-family: Poppins, Arial,  sans-serif;
    margin-right: 10%;
}
.codenotch{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 50%;
    
}

.a_menu:hover{
    color: white;
}

.fix-menu{
    background-color: black;
}
@media only screen and (max-width:1024px) {
    .inicio{
        margin-top:0px!important;
        margin-bottom:20px!important;
}}
.central{
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-style:solid;
    background-size:cover;
    background-attachment: scroll!important;
    background-image: url("./imagenes/Web-portada-3.png");
    display: flex;
    flex-direction: column;

}

.web_movil{
    height: 700px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll!important;
    background-image: url("./imagenes/bootcamp-desarrollo-web-y-movil.png");
    display: flex;
    flex-direction: column;

}

.data{
    height: 700px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll!important;
    background-image:  url("./imagenes/Diseno-sin-titulo-12.png");
    display: flex;
    flex-direction: column;
}

.profesores{
    height: 700px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll!important;
    background-image:  url("./imagenes/2002x418_NuestrosProfesores.jpg");
    display: flex;
    flex-direction: column;
}
.texto{
    display: flex;
    flex-direction: column;
    align-self: center ;
    margin-top: 9%;
    width: 756.4px;

}

.texto2{
    display: flex;
    flex-direction: column;
    align-self: center ;
    align-items: center;
    margin-top: 9%;
    width: 1500px;
}
.texto3{
    display: flex;
    flex-direction: column;
    align-self: center ;
    align-items: center;
    width: 1500px;
    margin-top: 5.5%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.737)!important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown{
    margin-right: 10%;
  }
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: rgba(0, 0, 0, 0.737)!important;
  }
  .a_menu_cursos{
    color: rgb(184, 184, 184);
    text-decoration: none;
    font-size: 16px;
    font-family: Poppins, Arial,  sans-serif;
}
.a_menu_cursos:hover {
    color: white;
}
.curso{
    font-family: Poppins, Arial,  sans-serif;
    
}
.dropdown-content .curso:hover {background-color: #ddd; color: blue}

.dropdown:hover .dropdown-content {display: block;}



.inicio{
    font-size: 25px;
    font-family: Poppins,"Arial Black", sans-serif, normal;
    color: white;
    font-weight: 300;
}
.inicio2{
    font-size: 40px;
    font-family: Poppins,"Arial Black", sans-serif, normal;
    color: white;
    font-weight: 300;
}
.inicio3{
    font-size: 15px;
    font-family: Poppins,"Arial Black", sans-serif, normal;
    color: white;
    font-weight: 300;
}
.convert{
    color: #11f294;
}

.trabajan{
    margin-top: -7%;
    height: fit-content;
    font-size: 20px;
    font-family: Poppins,"Arial Black", sans-serif, normal;
    color: white;
    background-color: rgb(8, 8, 8);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 8, 8);
    background-position: center;
    background-size: cover;
}

.forma{
    font-family: Poppins,"Arial Black", sans-serif, normal;
    color: white;
    
}

.objetivo{
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    align-self: center;
    text-align: left;
}
.forma_flex{
    display: flex;
    flex-direction: column;
    align-self: center ;
    align-items: flex-start;
    width: 1056.4px;
}

.full{
    background-color: white;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.info_full{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    margin-top: -10%;
}

.boton_info{
    margin-top: 2%;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    height: 50px;
    width: 250px;
    color: rgb(255, 255, 255); background-color: blue;
    border: none;
    font-family: Poppins,"Arial Black", sans-serif, normal ;
}
.boton_info:hover{
    background-color: black;
    cursor: pointer;

}
.boton_info_2:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}
.boton_info_2{
    margin-top: 2%;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    height: 50px;
    width: 250px;
    color: rgb(255, 255, 255); background-color: blue;
    border: none;
    font-family: Poppins,"Arial Black", sans-serif, normal ;
}

.profes{
    display: flex;
    justify-content: space-around;
    
}

.profe{
    width: 33.33%;
    margin-left: 5%;
}

.form{
    background-color: rgb(0, 0, 148);
    height: 1000px;
    width: 100%;
}

.btn:hover{
    background-color: white!important;
    color: black!important;
}
