@font-face {
    font-family: Poppins;
    src: url(./Poppins-1/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins_No_Bold;
    src: url(./Poppins-1/Poppins-Light.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: Poppins;
}